@tailwind base;
@tailwind components;
@tailwind utilities;

/* .herosection::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -20%;
  left: -20%;
  z-index: -1;
  border-radius: 100%;
  background-color: aquamarine;
} */
